<mat-card>
  <mat-card-title>Escoja una opción</mat-card-title>
  <mat-card-content>
    <mat-list>
      <mat-nav-list>
        <a mat-list-item href="user-invite" >Invitar nuevo usuario</a>
      </mat-nav-list>
      <mat-nav-list>
        <a mat-list-item href="user-edit" >Crear nuevo usuario</a>
      </mat-nav-list>
      <mat-nav-list>
        <a mat-list-item href="user-list/A" >Listado de usuarios activos</a>
      </mat-nav-list>
      <mat-nav-list>
        <a mat-list-item href="user-list/H" >Historico de usuario</a>
      </mat-nav-list>
    </mat-list>
  </mat-card-content>
</mat-card>
