<mat-toolbar color="primary">
  <p>
    <span>Bienvenido a {{title}}!</span>
  </p>
</mat-toolbar>
<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
  <div class="navbar-nav">
    <a class="nav-item nav-link" routerLink="/menu" *ngIf="isAmin">Menu</a>
    <a class="nav-item nav-link" routerLink="/menu-user" *ngIf="isUser">Menu</a>
    <a class="nav-item nav-link" (click)="logout()">Salir</a>
    <a class="nav-item nav-link" routerLink="/user-view/current" style="right: -200px; position: relative" >Bienvenido {{userMail}}</a>
  </div>
</nav>

<br>
<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 offset-sm-3">
        <router-outlet></router-outlet>
        <app-alert></app-alert>
      </div>
    </div>
  </div>
</div>
