<mat-toolbar color="primary">
  <p>
    <span>Bienvenido a {{title}}!</span>
  </p>
</mat-toolbar>
<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
  <div class="navbar-nav">
    <a class="nav-item nav-link" routerLink="/menu">Menu</a>
    <br>
    <a class="nav-item nav-link" (click)="logout()">Salir</a>
  </div>
</nav>

<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 offset-sm-3">
        <app-alert></app-alert>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>

<br>
<router-outlet></router-outlet>
