<mat-card>
  <mat-card-title>Usuarios Matriculados</mat-card-title>
  <mat-card-content>
    <mat-list>
      <mat-list-item *ngFor="let user of users">
        <img mat-list-avatar src="{{user.photo}}" alt="{{user.photo}}">
        <h3 mat-line>
          <a mat-button [routerLink]="['/user-view', user._id]" >{{user.names + ' - ' + user.last_names}}</a>
        </h3>
      </mat-list-item>
    </mat-list>
  </mat-card-content>

  <p>
    <button mat-fab color="primary" [routerLink]="['/user-edit']">Nuevo</button>
    <a routerLink="/menu" class="btn btn-link">Volver</a>
  </p>
</mat-card>
